---
layout: default
title: News
---
<main>
  <div class="container">
    <div class="row gx-lg-5">
      {% for post in site.posts %}
        <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
          <div class="card">
            <!-- Image -->
            <div class="p-2">
              {% if post.cover-img %}
                <img alt="..." src="{{ post.cover-img }}" class="card-img img-fluid">
              {% else %}
                <img alt="..." src="https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=400&q=80" class="card-img img-fluid">
              {% endif %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <!-- Title -->
              <h3 class="h4">{{ post.title }}</h3>
              <!-- Subtitle -->
              <span class="d-block text-muted text-sm font-semibold">{{ post.date | date_to_long_string }}</span>
              <p class="mt-4 mb-6">
                {{ post.excerpt }}
              </p>
              <a href="{{ site.url }}{{ post.url }}" class="btn btn-sm btn-primary">
                Learn more
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>