---
layout: default
title: News
---
<div class="wrapper animated fadeIn">
  <div class="news-container">
    <div class="post-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="post-list">
      {% for post in site.posts %} 
          {% if post.project == null %}
          <div class="list-group list-group-flush">
            <a href="{{ site.url }}{{ post.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="fw-bold">{{ post.title }}</h5>
                <small>{{ post.date | date_to_long_string }}</small>
              </div>
              <p class="mb-1">{{ post.excerpt }}</p>
              <small>Click to read more</small>
            </a>
          </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>