---
layout: default
title: News
---
<main>
  <!-- Check if it is the first page of the news. Based on the navigation in translations "News" has index 1. -->
  <div class="container {% if paginator.page == 1 %} firstpage {% endif %}">
    <div class="blog-grid-container">
    {% for post in paginator.posts %}
      {% include postbox.html %}
    {% endfor %}
    </div>
    <div class="bottompagination">
      <span class="navigation" role="navigation">
        {% include pagination.html %}
      </span>
    </div>
  </div>
</main>