<section class="section edge" id="{{ site.translations[site.lang].edge_device.section }}">
  <div class="container">
    <div class="section__header reveal">
      <span class="section__tag">{{ site.translations[site.lang].edge_device.tag }}</span>
      <h2 class="section__title">{{ site.translations[site.lang].edge_device.title }}</h2>
      <p class="section__subtitle">{{ site.translations[site.lang].edge_device.text }}</p>
    </div>
    <div class="edge__grid">
      {% for item in site.translations[site.lang].edge_device.list %}
      <div class="edge__card reveal" data-delay="{{ forloop.index0 | times: 100 }}">
        <div class="edge__icon">
          <i class="{{ item.icon }}"></i>
        </div>
        <h3 class="edge__card-title">{{ item.title }}</h3>
        <p class="edge__card-desc">{{ item.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
