<!-- Portfolio Modals -->
{% for project in site.posts %}
<div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="modal-body text-center">
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img class="img-fluid rounded mb-4 shadow" src="{{ project.main_image | relative_url }}" alt="{{ project.alt_text | default: project.title }}">
              <div class="text-start">
                {{ project.content }}
              </div>
              <button class="btn btn-primary mt-4" data-bs-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                {{ site.translations[site.lang].portfolio.close | default: "Close" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->
