<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" data-bs-theme="dark">
    <div class="container px-4 px-lg-5">
        <div class="navbar-logo-box ">
            <img class="navbar-logo img-fluid float-start" src="/assets/img/logo_white.png" alt="..." />
            <a class="navbar-brand" href="{{ site.translations[site.lang].navigation[0].link }}">Global Storm</a>
        </div>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>      
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto">
                {% for item in site.translations[site.lang].navigation %}
                    {% if item.link %}
                        <li class="nav-item"> 
                            <a class="nav-link" href="{{ site.baseurl_root }}{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </li>
                    {% elsif item.links %}
                        <!-- Dropdown -->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ item.name }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for subitem in item.links %}
                                <li>
                                    <a {% if page.url == "subitem.link" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %} href="{{ subitem.link }}">{{ subitem.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Language -->
                {% if site.lang == "en" %}
                    {% capture link1 %}{{ site.baseurl_root }}/pl{{ page.url}}{% endcapture %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link1 }}" ><span class="fi fi-pl"></span> {% t global.polish %}</a>
                    </li>
                {% elsif site.lang == "pl" %}
                    {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link2 }}" ><span class="fi fi-us"></span> {% t global.english %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>