---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="entry-header card text-bg-dark">
    <!-- Post Title -->
    <h1 class="posttitle card-title">{{ page.title }}</h1>
    <div class="d-flex align-items-center mt-4">         
        <div class="card-footer">
        Written on 
        <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
        {% if page.last_modified_at %}
        (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
        {% endif %}
        </div>            
    </div>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
<div class="article-post card text-bg-dark">
    {{content}}
</div>